{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post" id="login-page">
        {% if error %}
            <div class="alert alert-danger"> Identifiant ou mot de passe incorrect. </div>
        {% endif %}

        {% if app.user %}
            <div class="">
                Vous êtes connecté {{ app.user.userIdentifier }}, voulez-vous vous <a href="{{ path('app_logout') }}">déconnecter ?</a>
            </div>
        {% endif %}

        <h2 class="">Connectez-vous:</h2>

        <label for="inputUsername">Identifiant</label>
        <input type="text" value="{{ last_username }}" name="_username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>

        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="_password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token" value=" {{ csrf_token('authenticate') }} ">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Ce rappeler de moi..
            </label>
        </div>

        <button class="btn btn-lg btn-primary" type="submit">
            Connection
        </button>
    </form>
{% endblock %}
