html{
    min-width: auto;
}
body {
    background-color: #DDF7F8;
    padding: 0;
    margin: 0;
}

#login-page{
    background-color: #FFFFFF;
    border-radius: 10%;
    padding: 30px;
    color: black;
    margin-top: 20%;
    margin-left: 40%;
    margin-right: auto;
    width: 200px;
    font-family: Lobster, MingLiU-ExtB, Gabriola, Arial , cursive;
}
/*########################################################################*/
/*######################### Header | Nav-Bar #############################*/
nav{
    top: 0;
    z-index: 10;
    position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
}
#title{
    margin-left: 10px;
    text-decoration: none;
    margin-right: 20% ;
}
nav h2{
    width: 100px;
    padding: 2px;
    font-family: Lobster, MingLiU-ExtB, Gabriola, Arial , cursive;
    color: #FFFFFF;
}
#nav-bar{
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: rgba(175, 173, 173, 0.57);
    list-style-type: none; /* Remove bullets */
    display: flex;
    flex-direction: row;
    border-bottom: 3px solid rgb(103, 103, 103);
}
.link-nav-bar{
    font-size: 20px;
    align-items:center;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    font-family: MingLiU-ExtB, Gabriola, Arial , cursive;
    color: #FFFFFF ;
    height: 100%;
    transition: all 0.6s ;
}
.link-nav-bar:hover{
    background-color: #aeb70d;
    border-bottom: 3px solid #5f650c;
    /*padding: 2px 0;*/
}
#prenomParticipant{
    padding-left: 20px;
    background-color: #FFFFFF;
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
}
#name_login{
    margin: 0;
    padding: 0;
}
#separator{
    margin: 0;
    padding: 0;
    color: black;
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
#logout{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
    height: 10px;

}
#logout:hover{
    color: #aeb70d ;
}

/*########################################################################*/
/*########################### Header image ###############################*/

#img-Restaurants{
    width: 100%;
}

h1{
    color: white;
    text-shadow: #aeb70d 1px 4px;
    box-shadow: #5eb5e0;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 160px;
    font-size: 90px;
    font-min-size: 60px;
    font-max-size: 60px;
    font-family: Lobster, MingLiU-ExtB, Gabriola, Arial , cursive;
    transform: rotate(-10deg);
}
#div-btn-carte{
    position: absolute;
    top: 800px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#btn-carte{
    font-size: 30px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px;
    border: 2px solid mediumseagreen;
    border-radius: 16px;
    background-color: rgba(60, 179, 113, 0.35);
    transition-duration: 500ms;
}
#btn-carte:hover{
    font-size: 33px;
}
/*########################################################################*/
/*############################ block #1 ##################################*/
#blockOne{
    display: flex;
    padding: 0;
    margin: 0;
}

#blockLeft{
    width: 50%;
    height: 500px;
    background-color: #FFFFFF;
    padding: 30px;
}
#blockLeft h3{
    text-align: center
}

#blockRight{
    width: 50%;
    height: 500px;
    background-color: #aeb70d;
    padding: 30px;
}
#blockRight h3{
    text-align: center
}

/*########################################################################*/
/*############################ block #2 ##################################*/

#BlockContact{
    background-color: #999999;
    display: grid;
}
#BlockContact a{
    text-decoration: none;
    color: #000000;
}
#BlockContact a p{
    width: min-content;

}

/*########################################################################*/
/*############################## Menu / User #############################*/

.box-Parents{
    padding-right: 20%;
    padding-left: 20%;
}

/***************************************************************/
/**************************** item *****************************/
section{
    background-color: #FFFFFF;
    margin-bottom: 35px;
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    box-shadow: 5px 5px 10px grey;
}
.btn-modifier{
    width: 0;
    height: 128px;
    transition-duration: 500ms;
    background-color: #FFFFFF;
    border-radius: 10px 0 0 10px;
    box-shadow: -5px 0px 5px grey;
}
section:hover .btn-modifier{
    width: 30px;
    margin-left: -30px;
}
section:hover .text-modifier{
    opacity: 100%;
    margin: 5px;
}
.text-modifier{
    transition-duration: 500ms;
    opacity: 0%;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 6px;
    writing-mode: vertical-lr;
}
.text-modifier:hover{
    color: #5eb5e0;
}
.info{
    margin-left: 4px;
    flex-grow: 5;
}
/***************************************************************/
/*********************** In Section (item)**********************/
.sectionimg{
    margin: 2px;
    width: 200px;
    border-radius: 20px;
}
.sectionNom{
    font-size: 50px;
    font-family: Gabriola, serif;
}

.sectionIngredients{
    font-size: 20px;
    font-family: serif;
}

.sectionPrix{
    font-size: 30px;
    display: flex;
    flex-direction: row-reverse;
    font-family: Gabriola, serif;
    margin-right: 4px;
}


/***************************************************************/
/************************** btn plus ***************************/
.btn-plus{
    width: 40px;
    border-radius: 100%;
    box-shadow: 3px 3px 5px grey;
    margin-bottom: 60px;
}
.btn-plus:hover{
    width: 43px;
    margin-bottom: 57px;
}
.box-Parents-btn-plus{
    padding-right: 48%;
    padding-left: 48%;
}

/***************************************************************/
/************************* Title Menu **************************/

.title-menu{
    display: flex;
}
.title-menu hr{
    width: 90%;
    color: black;
    height: 1px;
}
div.title-menu h2{
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: 5px;
    margin-left: 5px;
}
.Message-Menu-Vide{
    background-color: #FFFFFF;
    margin-bottom: 35px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px grey;
}

/*########################################################################*/
/*########################### Page Modification ##########################*/

.box{
    background-color: #FFFFFF;
    margin-bottom: 35px;
    margin-right: auto;
    margin-left: 38%;
    margin-top: 150px;
    border-radius: 20px;
    width: max-content;

    padding: 10px;
    box-shadow: 5px 5px 10px grey;
}
.Box-title-modifier{
    width: content-box;
    padding-right: 43%;
    padding-left: 43%;
    margin-bottom: 50px;
}

.input{
    margin-top: 15px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    width: border-box;
}
.allBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    padding: 4px;
    width: content-box;
}
.btn-valider-modifier{
    padding: 4px;
    width: 100px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #5eb5e0;
    box-shadow: inset 0 0 0 0 aqua;
    -webkit-transition: ease-out 0.6s;
    -moz-transition: ease-out 0.6s;
    transition: ease-out 0.6s;
}
.btn-valider-modifier:hover{
    box-shadow: inset 400px 0 0 0 cornflowerblue;
    color: #FFFFFF;
}
.btn-back{
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    border: 1px solid #5eb5e0;
    border-radius: 10px;
    background-color: #5eb5e0;
    box-shadow: inset 0 0 0 0 aqua;
    -webkit-transition: ease-out 0.6s;
    -moz-transition: ease-out 0.6s;
    transition: ease-out 0.6s;
}
.btn-back:hover{
    box-shadow: inset 0 100px 0 0 cornflowerblue;
    color: #FFFFFF;
}
.btn-supprimer{
    padding: 4px;
    width: 100px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #5eb5e0;
    box-shadow: inset 0 0 0 0 aqua;
    -webkit-transition: ease-out 0.6s;
    -moz-transition: ease-out 0.6s;
    transition: ease-out 0.6s;
}
.btn-supprimer:hover{
    box-shadow: inset 0 0 0 50px cornflowerblue;
    color: #FFFFFF;
}

/*########################################################################*/
/*###########################                   ##########################*/


