html{
    min-width: auto;
}
body {
    background-color: #DDF7F8;
    padding: 0;
    margin: 0;
}

#login-page{
    color: black;
}
/*########################################################################*/
/*######################### Header | Nav-Bar #############################*/
nav{
    z-index: 10;
    /*position: fixed;*/
    background-color: white;
    width: 100%;
    padding: 4px;
}
#nav-bar{
    list-style-type: none; /* Remove bullets */
    display: flex;
    width: fit-content;
}
.link-nav-bar{
    display: flex;
    margin-right: 10px;
    text-decoration: none;
    color: black ;
    padding: 6px 0;
    border-top: 0.5px solid #ffffff;
    border-bottom: 0.5px solid #ffffff;
    transition: all 0.5s ;
}
.link-nav-bar:hover{
    display: flex;
    margin-right: 10px;
    text-decoration: none;
    color: #000000;
    border-top: 4px solid #f6e6ba;
    border-bottom: 4px solid #f6e6ba;
    padding: 2px 0;
}

/*########################################################################*/
/*########################### Header image ###############################*/

#img-Restaurants{
    width: 100%;
}

h1{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 180px;
    color: #FFFFFF;
    font-size: 60px;
    font-min-size: 60px;
    font-max-size: 60px;
}
/*########################################################################*/
/*############################ block #1 ##################################*/

#content {
    display: flex;
    padding: 25px;
    font-family: cursive;
}
#block-Detail{
}
#block-horaire{
}
#block-Info{
}
#btn-plus-photos{
    text-decoration: none;
    padding: 6px;
    color: black;
    background-color: #f6e6ba;
    border: 2px solid #f6e6ba;
    border-radius: 5px;
}
#btn-plus-photos:hover{
    text-decoration: none;
    padding: 6px;
    color: black;
    background-color: #ffffff;
    border: 2px solid #f6e6ba;
    border-radius: 5px;
}

/*########################################################################*/
/*############################ block #2 ##################################*/
#img-menu{
    width: 100%;
}
#block-decouvertes-culinaires{
    display: flex;
    height: 500px;
}
#img-port-erquy{
    position: absolute;
    height: 350px;
    border: 2px #000000 solid;
    margin: 30px;
}
#img-plats-2{
    z-index: 8;
    position: absolute;
    width: 170px;
    border: 2px #000000 solid;
    right: 730px;
    margin-top: 310px;
}
#PlusInfo{
    position: absolute;
    left: 25%;
    font-family: cursive;
    margin-top: 30px;
    padding: 20px 20px 50px 20px;
    height: min-content;
    width: 400px;
}
#div-btn-carte{
    text-align: center;
    margin-top: 50px;
}
#btn-carte{
    padding: 8px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 0 10px;
}

/*########################################################################*/
/*############################## Menu / User #############################*/

.box-Parents{
    padding-right: 20%;
    padding-left: 20%;
}

/***************************************************************/
/**************************** item *****************************/
section{
    background-color: #FFFFFF;
    margin-bottom: 35px;
    border-radius: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    box-shadow: 5px 5px 10px grey;
}
.btn-modifier{
    width: 0;
    height: 128px;
    transition-duration: 500ms;
    background-color: #FFFFFF;
    border-radius: 10px 0 0 10px;
    box-shadow: -5px 0px 5px grey;
}
section:hover .btn-modifier{
    width: 30px;
    margin-left: -30px;
}
section:hover .text-modifier{
    opacity: 100%;
    margin: 5px;
}
.text-modifier{
    transition-duration: 500ms;
    opacity: 0%;
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin: 6px;
    writing-mode: vertical-lr;
}
.text-modifier:hover{
    color: #5eb5e0;
}
.info{
    margin-left: 4px;
    flex-grow: 5;
}
/***************************************************************/
/*********************** In Section (item)**********************/
.sectionimg{
    margin: 2px;
    width: 200px;
    border-radius: 20px;
}
.sectionNom{
    font-size: 50px;
    font-family: Gabriola, serif;
}

.sectionIngredients{
    font-size: 20px;
    font-family: serif;
}

.sectionPrix{
    font-size: 30px;
    display: flex;
    flex-direction: row-reverse;
    font-family: Gabriola, serif;
    margin-right: 4px;
}


/***************************************************************/
/************************** btn plus ***************************/
.btn-plus{
    width: 40px;
    border-radius: 100%;
    box-shadow: 3px 3px 5px grey;
    margin-bottom: 60px;
}
.btn-plus:hover{
    width: 43px;
    margin-bottom: 57px;
}
.box-Parents-btn-plus{
    padding-right: 48%;
    padding-left: 48%;
}

/***************************************************************/
/************************* Title Menu **************************/

.title-menu{
    display: flex;
}
.title-menu hr{
    width: 90%;
    color: black;
    height: 1px;
}
div.title-menu h2{
    margin-top: 0;
    margin-bottom: 30px;
    margin-right: 5px;
    margin-left: 5px;
}
.Message-Menu-Vide{
    background-color: #FFFFFF;
    margin-bottom: 35px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 10px grey;
}

/*########################################################################*/
/*########################### Page Modification ##########################*/

.box{
    background-color: #FFFFFF;
    margin-bottom: 35px;
    border-radius: 20px;
    width: max-content;
    margin-right: auto;
    margin-left: 38%;
    padding: 10px;
    box-shadow: 5px 5px 10px grey;
}
.Box-title-modifier{
    width: content-box;
    padding-right: 43%;
    padding-left: 43%;
    margin-bottom: 50px;
}

.input{
    margin-top: 15px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    width: border-box;
}
.allBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    padding: 4px;
    width: content-box;
}
.btn-valider-modifier{
    padding: 4px;
    width: 100px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #5eb5e0;
    box-shadow: inset 0 0 0 0 aqua;
    -webkit-transition: ease-out 0.6s;
    -moz-transition: ease-out 0.6s;
    transition: ease-out 0.6s;
}
.btn-valider-modifier:hover{
    box-shadow: inset 400px 0 0 0 cornflowerblue;
    color: #FFFFFF;
}
.btn-back{
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    border: 1px solid #5eb5e0;
    border-radius: 10px;
    background-color: #5eb5e0;
    box-shadow: inset 0 0 0 0 aqua;
    -webkit-transition: ease-out 0.6s;
    -moz-transition: ease-out 0.6s;
    transition: ease-out 0.6s;
}
.btn-back:hover{
    box-shadow: inset 0 100px 0 0 cornflowerblue;
    color: #FFFFFF;
}
.btn-supprimer{
    padding: 4px;
    width: 100px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #5eb5e0;
    box-shadow: inset 0 0 0 0 aqua;
    -webkit-transition: ease-out 0.6s;
    -moz-transition: ease-out 0.6s;
    transition: ease-out 0.6s;
}
.btn-supprimer:hover{
    box-shadow: inset 0 0 0 50px cornflowerblue;
    color: #FFFFFF;
}

/*########################################################################*/
/*###########################                   ##########################*/


