{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
    <div>
        <img id="img-Restaurants" src="{{ asset('img/Fond.png') }}" alt="img-Entree-terre-neuvas">
        <h1>poké platters</h1>

        <div id="div-btn-carte">
            <a id="btn-carte" href="{{path('app_afficher_menu')}}" title="Découvrire notre carte">Découvrire notre carte</a>
        </div>
    </div>
<div>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>
    <p>.</p>




</div>

{% endblock %}