{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
    <div>
        <img id="img-Entree-terre-neuvas" src="{{ asset('img/interieur.jpg') }}" alt="img-Entree-terre-neuvas">
        <h1>Les Terre-Neuvas</h1>
    </div>

    <div>
        <a id="btn-reservation-2" href="{{path('app_accueil')}}" title="Réservation">Réservation</a>
    </div>

    <div id="block-decouvertes-culinaires">
        <img id="img-menu" src="{{ asset('img/fond-Menu.png') }}" alt="img-fond-menu">
        <div id="PlusInfo">
            <div>
                <h2>Découvertes culinaires...</h2>

                <p>Dans un cadre agréable, avec vue sur la mer, Les Terre-Neuvas vous propose des spécialités
                    de poissons et de fruits de mer.
                    Venez profiter de notre terrasse couverte tout en dégustant nos coquilles Saint-Jacques.</p>
            </div>

            <div id="div-btn-carte">
                <a id="btn-carte" href="{{path('app_accueil')}}" title="Découvrire notre carte">Découvrire notre carte</a>
            </div>
        </div>
    </div>



    <div id="coordonnees">

        <div>
            <h2>Emplacement et coordonnées</h2>

            <div class="item-coordonnees">
                <img src="" alt="rue"> <p>64 rue du Port, 22430 Erquy France</p>
            </div>

            <div class="item-coordonnees">
                <img src="" alt="tel"> <p>02 96 72 34 24</p>
            </div>

            <div class="item-coordonnees">
                <img src="" alt="mail"> <p>lesterre-neuvas@orange.fr</p>
            </div>

            <div class="item-coordonnees">
                <img src="" alt="tripadvisor"> <p>Les Terre-Neuvas | Tripadvisor</p>
            </div>

        </div>
        <div>
            <img src="" alt="map">
        </div>


    </div>
    <div>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
        <p>.</p>
    </div>
{% endblock %}